footer {
    padding: 2rem;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer .container > div:first-child {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

footer .container > div:first-child img {
    justify-self: start;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

footer .container > div:last-child {
    text-align: center;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    footer .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    footer .container > div:first-child {
        flex: 1;
    }
    
    footer .container > div:last-child {
        text-align: right;
        margin-top: 0;
    }
}

.bg-navy {
    background-color: #030053 !important;
}

.text-navy {
    color: #030053 !important;
}

body {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}

.font-regular {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 400;
}

.font-superbold {
    font-family: 'Rethink Sans', sans-serif;
    font-weight: 800;
}
