body {
    font-family: 'Rethink Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f4f4f4;
}

:root {
    --azul-puc: #030053; 
    --cor-primaria: #007bff;
    --cor-fundo-card: #ffffff;
}

.header-login {
    background-color: var(--azul-puc);
    color: white;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.logo img {
    height: 50px;
    width: auto;
}

.welcome-text {
    text-align: center;
    font-weight: 400;
    font-size: 1.1em;
}

.content-wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.puc-rio.br/sobrepuc/campus/imagens/img_campus_banner_index.jpg') no-repeat center center/cover;
    
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); 
    
    z-index: 1;
}


.login-container {
    background-color: var(--cor-fundo-card);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    max-width: 400;
    text-align: center;
    z-index: 2;
}

.login-form h2 {
    margin-bottom: 15px;
    color: #030053;
    font-weight: 600;
    font-size: 1.3em;
}

.input-group {
    text-align: left;
    margin-bottom: 12px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-size: 0.9em;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.input-group input:focus {
    border-color: var(--azul-puc);
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
    outline: none;
}

.btn-login {
    width: 80%;
    background-color: var(--azul-puc);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 700;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: var(--azul-puc);
}

.forgot-password {
    margin-top: 12px;
    font-size: 0.8em;
}

.forgot-password a {
    color: var(--azul-puc);
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.rodape {
    background-color: var(--azul-puc);
    color: white;
    padding: 20px 0;
    margin-top: auto
}

.rodape-conteudo {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    
    min-height: 80px;
}

.rodape-logo img {
    height: 100px;
    width: auto;
    display: block;
}

.rodape-links-container {
    display: flex;
    gap: 10px;
}

.rodape-links-container a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0 5px;
    white-space: nowrap;
}

.rodape-links-container a:hover {
    color: #ffae00;
}

.rodape-links-container span {
    color: white;
}

.rodape-copyright .copyright {
    font-size: 0.8em;
    color: white;
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .rodape-conteudo {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .rodape-links-container {
        flex-wrap: wrap; 
        justify-content: center;
        text-align: center;
    }
    
    .rodape-copyright .copyright {
        text-align: center;
    }
}

